<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

    h1 Bienvenue sur l'espace admin

    p Cet espace va vous permettre de balbalbal

    table 
        thead
            tr 
                th #
                th Publication
                th Titre
                th Auteur 
                th Catégorie
                th Action
        
        tbody 
            tr 
                td 1
                td le balbalbalab
                td Lorem ipsum dolor sit.
                td El muchacho
                td Sport 
                td 
                    a(href="") Modifier
                    a(href="") Supprimer

        