<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        h1 Ecrire un nouvel article 
        form(action="")
            fieldset
                legend Ajout d'un article 
                label Titre
                input(type="text")
                label(for="") Catégorie
                select#(name="")
                    option Informatique
                    option Sport
                label(for="") Contenu
                textarea#(name="", cols="30", rows="10")
                select#(name="")
                    option JP
                    option JM
                input(type="submit")