extends layout.pug
 
block variables
    - let title = 'Article';

     h1.text-center Les articles
    block content
        div.container
            div.article
                h1 Title Article
                a(href="index.pug") Retour
                p 
                    | Le XX à XXX
                
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quaerat?