block variables
 
<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        title #{title} - Blog Node.js
        link(rel="stylesheet", href="style.css")
    body
        block content
    footer
        a(href="cgu.html") Legal Notice