body {
    background-color: rgb(223, 223, 223);
}

h1, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

.container {
    margin-right: 15%;
    margin-left: 15%;
}

.article {
    border: solid 1px #FFF;
    padding: 5px;
    margin: 5px;
}

.publier {
    color: #000;
    font-size: 0.6rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}

input, textarea{
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}
